<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wsw.patrickstar.task.mapper.TaskMapper">
    <resultMap id="BaseResultMap" type="com.wsw.patrickstar.task.entity.TaskEntity">
        <id column="task_id" property="taskId" jdbcType="BIGINT"/>
        <result column="task_name" property="taskName" jdbcType="VARCHAR"/>
        <result column="task_caption" property="taskCaption" jdbcType="VARCHAR"/>
        <result column="extend" property="extend" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
    </resultMap>

    <sql id="baseColumn">
        task_id,
        task_name,
        task_caption,
        extend,
        create_user,
        create_time,
        update_user,
        update_time
    </sql>

    <select id="selectTask" parameterType="com.wsw.patrickstar.api.model.dto.TaskRequestDTO"
            resultType="com.wsw.patrickstar.task.entity.TaskEntity">
        SELECT
        <include refid="baseColumn"/>
        FROM task
        <where>
            <if test="query.taskId != null">
                AND task_id = #{query.taskId, jdbcType=BIGINT}
            </if>
            <if test="query.createTimeStart != null and query.createTimeStart != '' and query.createTimeEnd != null and query.createTimeEnd != ''">
                AND create_time BETWEEN #{query.createTimeStart, jdbcType=DATE} AND #{query.createTimeEnd, jdbcType=DATE}
            </if>
            <if test="query.updateTimeStart != null and query.updateTimeStart != '' and query.updateTimeEnd != null and query.updateTimeEnd != ''">
                AND update_time BETWEEN #{query.updateTimeStart, jdbcType=DATE} AND #{query.updateTimeEnd, jdbcType=DATE}
            </if>
            <if test="query.taskName != null and query.taskName != ''">
                AND task_name = #{query.taskName, jdbcType=VARCHAR}
            </if>
            <if test="query.taskCaption != null and query.taskCaption != ''">
                AND task_caption = #{query.taskCaption, jdbcType=VARCHAR}
            </if>
            <if test="query.createUser != null and query.createUser != ''">
                AND create_user = #{query.createUser, jdbcType=VARCHAR}
            </if>
            <if test="query.updateUser != null and query.updateUser != ''">
                AND update_user = #{query.updateUser, jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY update_time DESC
    </select>

    <select id="selectTaskByTime1" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumn"/>
        FROM task
        WHERE create_time BETWEEN #{startDate} AND #{endDate}
        ORDER BY update_time ASC
        <!--<if test="startDate != null">
            create_time <![CDATA[>=]]> #{startDate}
        </if>
        <if test="endDate != null">
            AND create_time <![CDATA[<=]]> #{endDate}
        </if>-->
    </select>

    <select id="selectTaskByTime2" parameterType="java.util.Date" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumn"/>
        FROM task
        WHERE create_time = #{date}
    </select>

    <select id="selectTaskByTime3" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT
        <include refid="baseColumn"/>
        FROM task
        WHERE create_time IN
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>